.logo {
    margin-right: 93px;

    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

header .logo__accent {
    color: var(--stress-text-color);
}

footer .logo__accent {
    color: var(--primary-bg-color);
}
