:root {
    --main-font: 'Roboto',  sans-serif;
    --second-font: 'Raleway', sans-serif;

    --primary-text-color: #757575;
    --stress-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --tertiary-bg-color: #2F303A;
    --icon-color: #AFB1B8;
    --hovered-blue: #188CE8;
}